@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply antialiased leading-normal font-normal;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body,
html {
    @apply h-screen w-screen p-0 m-0;
}

body {
    @apply flex min-h-screen text-slate-100;
}

a {
    @apply font-normal text-sky-600 decoration-inherit;
    &:hover {
        @apply text-sky-400;
    }
}

h1 {
    @apply text-5xl;
}

#root {
    @apply w-screen;
}